:root {
    --primary-color: teal;
    --secondry-color: orange;
}

h1 {
    color: var(--primary-color);
    font-size:2rem;
}
p{
    color:var(--primary-color)
    
}
div{
    color:var(--secondry-color)
}